{
    "networks": {
        "example": {"servers": [["irc.example.org", 6667]],
                    "nick": "trompet",
                    "password": "super secret server password",
                    "nickserv-password": "secret"}
    },
    "web": {
        "password": "secret",
        "port": 8080
    },
    "projects": {
        "example project": {
            "channels": {"example": ["#example"]},
            "token": "my_secret_token",
            "bitbucket": {
                "message": "$author committed rev $revision to $project/$branch: $shortmessage - $url"
            },
            "github": {
                "message": "$author committed rev $revision to $project/$branch: $shortmessage - $url",
                "max commit messages per push": 3
            },
            "travisci": {
                "message": "Travis CI build for $project/$branch, rev $revision: $statusmessage - $reporturl",
                "token": "Travis CI token"
            },
            "xmlrpc": true
        }
    }
}
